@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
    *, ::before, ::after {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 0.938rem;
      color: #23004d;
    }

    h1 {
      margin: 0;
    }

    a {
      text-decoration: none;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .login {
      display: grid;
      grid-template-columns: 100%;
      height: 100vh;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    .login__content {
      display: grid;
    }
    .login__img {
      justify-self: center;
    }
    .login__img img {
      width: 310px;
      margin-top: 1.5rem;
    }
    .login__forms {
      position: relative;
      height: 368px;
    }
    .login__register, .login__create {
      position: fixed;
      bottom: 1rem;
      /* width: 20%; */
      background-color: #f2f2f2;
      padding: 2rem 1rem;
      border-radius: 1rem;
      text-align: center;
      box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
      animation-duration: 0.4s;
      animation-name: animateLogin;
    }
    .login__title {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .login__box {
      /* display: grid; */
      display: flex;
      column-gap: 0.5rem;
      padding: 1.125rem 1rem;
      background-color: #fff;
      margin-top: 1rem;
      border-radius: 0.5rem;
    }
    .login__box__addr {
      /* display: grid; */
      display: inline-block;
      width:60%;
      column-gap: 0.5rem;
      padding: 1.125rem 1rem;
      background-color: #fff;
      margin-top: 1rem;
      border-radius: 0.5rem;
    }
    .login__box__addr__btn {
      display: inline-block;
      width:38%;
    }   
    
    .login__icon {
      font-size: 1.5rem;
      color: #D38B9B;
    }
    .login__input {
      border: none;
      outline: none;
      font-size: 0.938rem;
      font-weight: 700;
      color: #f9cdbd;
      width: 100%;
    }
    .login__input::placeholder {
      font-size: 0.938rem;
      font-family: "Open Sans", sans-serif;
      color: #a49eac;
    }
    .login__forgot {
      display: block;
      width: max-content;
      margin-left: auto;
      margin-top: 0.5rem;
      font-size: 0.813rem;
      font-weight: 600;
      color: #a49eac;
    }
    .login__button {
      display: block;
      padding: 1rem;
      margin: 2rem 0;
      background-color: #f9cdbd;
      color: #fff;
      font-weight: 600;
      text-align: center;
      border-radius: 0.5rem;
      transition: 0.3s;
    }
    .login__button:hover {
      background-color: #f9cdbd;
    }
    .login__account, .login__signin, .login__signup, .find__id, .find__pw{
      font-weight: 600;
      font-size: 0.813rem;
    }
    .login__account--account, .login__signin--account, .login__signup--account, .find__id, .find__pw {
      color: #23004d;
    }
    .login__account--signin, .login__account--signup, .login__signin--signin, .login__signin--signup, .login__signup--signin, .login__signup--signup, .find__id, .find__pw {
      color: #D38B9B;
      cursor: pointer;
    }
    .find__pw, .find__id{
      float:right;
    }
    .login__social {
      margin-top: 2rem;
    }
    .login__social--icon {
      font-size: 1.5rem;
      color: #23004d;
      margin: 0 1rem;
    }

    .block {
      display: block;
    }

    .none {
      display: none;
    }
    
    .id_ok{
		color:#008000;
		display: none;
	}
	
	.id_already{
		color:#6A82FB; 
		display: none;
	}
	.id_length{
		color:#6A82FB; 
		display: none;
	}
	.nickname_ok{
		color:#008000;
		display: none;
	}
	
	.nickname_already{
		color:#ff6060; 
		display: none;
	}

    @keyframes animateLogin {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.1, 1.1);
      }
      100% {
        transform: scale(1, 1);
      }
    }
    @media screen and (min-width: 576px) {
      .login__forms {
        width: 400px;
        justify-self: center;
      }
    }
    @media screen and (min-width: 1024px) {
      .login {
        height: 100vh;
        overflow: hidden;
      }
      .login__content {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
      }
      .login__img {
        display: flex;
        width: 600px;
        height: 588px;
        background-color: #fff;
        border-radius: 1rem;
        padding-left: 1rem;
      }
      .login__img img {
        width: 80%;
        margin-top: 0;
      }
      .login__register, .login__create {
        /* left: -11rem; */
        min-width:200px;
        width:400px;
        right:5rem;
      }
      .login__register {
        bottom: 13rem;
      }
      .login__create {
        bottom: 1.5rem;
      }
      .login__create {
        overflow:auto;
        height:900px;
      }
    }
	/* 아래의 모든 코드는 영역::코드로 사용 */
	.login__create::-webkit-scrollbar {
	    width: 10px;  /* 스크롤바의 너비 */
	}
	
	.login__create::-webkit-scrollbar-thumb {
	    height: 30%; /* 스크롤바의 길이 */
	    background: #f9cdbd; /* 스크롤바의 색상 */
	    
	    border-radius: 10px;
	}
	
	.login__create::-webkit-scrollbar-track {
	    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
	}
	
      /* 비디오 */
    video {
        width: 113%;
        height: 100vh;
        object-fit: cover;
        transition: opacity 0.3s 1s ease;
    }


